<launch>
  <node name="arm_joy" pkg="joy" type="joy_node">
    <remap from="joy" to="joy_for_arm"/>
    <param name="dev" value="/dev/input/js1" />
  </node>
  <!-- remap joy for arm -->
  <node name="joy_remap1" pkg="joy" type="joy_remap.py">
    <remap from="joy_in" to="joy_orig_arm"/>
    <remap from="joy_out" to="joy_arm"/>
    <param name="button_mapping" type="str" value="=" />
    <param name="axis_mapping" type="str" value="=" />
  </node>
  <node name="arm_control" pkg="arm" type="final_arm.py" />
 </launch>
